/* header */

body{
	background-color: #E4E6E9;
}

.navbar-default {
  background-color: #C3E883;
}

.footer {
  color: #777;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  margin-top: 70px;
}

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-welcome
{
	max-width: 660px;
	padding: 15px;
 	margin: 0 auto;
}

.media-list {
  padding-left: 20px;
  list-style: none;
}

div.reply_body {
margin-left: 20px;
border-style: ridge
}

.tools{
	right="5px"
}

.light-login {
  background: #dfe0e2;
}

.avatar{
	border-radius: 50%;
}

div.main_content{
	padding-top: 20px;
	background: #fff;
}

div.reply_panl{
	padding-left: 5%;
}

div.reply_list_head{
	padding-bottom:20px;
}

div.reply_list_item{
	padding-left:20px;
	padding-bottom:10px;
	padding-top:10px;
	border-width:1px;
	border-top-style:ridge;
	border-color:#C0C0C0;
}

p.views{
	font-size:1.5em;
}

div.video-container{
	padding-top:20px;
	padding-bottom:20px;
}