/* header */

body{
	background-color: #fcfcfc;
}

.main{
	  padding-left: 240px;
}

.navbar-default {
  background-color: #C3E883;
}

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-welcome
{
	max-width: 660px;
	padding: 15px;
 	margin: 0 auto;
}

.media-list {
  padding-left: 20px;
  list-style: none;
}

div.reply_body {
margin-left: 20px;
border-style: ridge
}

.tools{
	right="5px"
}

.light-login {
  background: #dfe0e2;
}

div.main_content{
	padding-top: 20px;
	background: #fff;
}

div.reply_panl{
	padding-left: 5%;
}

div.reply_list_head{
	padding-bottom:20px;
}

div.reply_list_item{
	padding-left:20px;
	padding-bottom:10px;
	padding-top:10px;
	border-width:1px;
	border-top-style:ridge;
	border-color:#C0C0C0;
}

p.views{
	font-size:1.5em;
}

div.video-container{
	padding-top:20px;
	padding-bottom:20px;
}

.profile-name{
  font-size: 1.8em;
  font-weight: 900;
  color: #00BCD4;
  text-transform: uppercase;
}

.profile-interest{
  font-size: 0.6em;
  font-weight: 300;
  color: #999;
}

.profile-user-info {
  display: table;
  width: calc(100% - 24px);
  margin: 0 auto;
}

.profile-user-info-striped {
  border: 1px solid #DCEBF7;
}

.profile-info-name {
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: normal;
  color: #336199;
  background-color: #EDF3F4;
  border-top: none;
  display: table-cell;
  width: 110px;
  vertical-align: middle;
}

.profile-info-value {
  display: table-cell;
  padding: 6px 4px 6px 6px;
  border-top: 1px dotted #D5E4F1;
}

.tabs-menu {
  width: 100%;
  background: #FFF;
  z-index: 997;
}

.tabs-menu.fixed {
  top: 60px;
  left: 0;
  position: fixed;
}

.card-user-head-name{
	padding: 0 0.6rem;
}

.card-thumbnails {
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 2px;
  border: 2px solid #333;
}

.discuss-taxonomy-item {
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 4px;
}
