<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jixianxueyuan">

    <permission android:name="${APPLICATIONID}.permission.JPUSH_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="${APPLICATIONID}.permission.JPUSH_MESSAGE"/>

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 允许程序接收到广播在系统完成启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>



    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewHomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeMain"
            >
        </activity>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.FlexibleSpaceWithImageWithViewPagerTabActivity"/>
        <activity android:name=".activity.CreateTopicPreActivity"/>
        <activity android:name=".activity.TopicDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.MoodDetailActivity"/>
        <activity android:name=".activity.DiscussionDetailActivity"/>
        <activity android:name=".activity.CourseOldHomeActivity"/>
        <activity android:name=".activity.CourseHomeActivity"/>
        <activity android:name=".activity.CourseListActivity"/>
        <activity android:name=".activity.CreateTopicActivity"/>
        <activity android:name=".activity.CreateShortVideoActivity"/>
        <activity android:name=".activity.CreateVideoActivity"/>
        <activity android:name=".activity.CreateNewsActivity"/>
        <activity android:name=".activity.TopicTaxonomyHomeActivity"/>
        <activity android:name=".activity.CourseDetailActivity"/>
        <activity android:name=".activity.NearFriendActivity"/>
        <activity android:name=".activity.RegisterEnterPhoneActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.UserHomeActivity"/>
        <activity android:name=".activity.RemindListActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.ReplyDetailActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.profile.ProfileEditActivity"/>
        <activity android:name=".activity.profile.ModifyProfileAttrEditTextActivity"/>
        <activity android:name=".activity.CropAvatarActivity"/>
        <activity android:name=".activity.CropBgActivity"/>
        <activity android:name=".activity.MarketHomeActivity"/>
        <activity android:name=".activity.GoodsListActivity"/>
        <activity android:name=".activity.SiteListActivity"/>
        <activity android:name=".activity.SiteCreateActivity"/>
        <activity android:name=".activity.AddressPicketActivity"/>
        <activity android:name=".activity.SponsorshipActivity"/>
        <activity android:name=".activity.CollectionListActivity"/>
        <activity
            android:name=".activity.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".activity.InviteWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activity.ImageGalleryActivity"/>
        <activity android:name=".activity.RankingListActivity"/>
        <activity
            android:configChanges="orientation|screenSize"
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" />
        <activity

            android:name="com.tencent.smtt.sdk.VideoActivity"

            android:configChanges="orientation|screenSize|keyboardHidden"

            android:exported="false"

            android:launchMode="singleTask"

            android:alwaysRetainTaskState="true">

            <intent-filter>

                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <!--umeng scoial-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/>
        <!--umeng scoial-->

        <!--weixin-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--weixin-->

        <!--qq-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="101228787" />
            </intent-filter>
        </activity>

        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!--wei bo-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>
        <!--wei bo-->


        <activity android:name="com.alibaba.sdk.android.trade.ui.TradeWebViewActivity"/>

        <service android:name="com.jixianxueyuan.util.filedownload.DownloadService" />

        <service android:name="com.amap.api.location.APSService"></service>


        <activity
            android:name="com.alibaba.mobileim.ui.WxChattingActvity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Aliwx_ChattingDetailStyle_default"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.alibaba.mobileim.ui.WxConversationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Aliwx_ConverationStyle_default" />
        <activity
            android:name="com.alibaba.mobileim.ui.chat.MultiImageActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="sensor"
            android:theme="@style/Aliwx_ContentOverlay_default"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.alibaba.mobileim.ui.multi.lightservice.MultiPickGalleryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Aliwx_ConverationStyle_default" />

        <service
            android:name="com.alibaba.mobileim.appmonitor.tiptool.TooltipService"
            android:exported="false" />
        <service
            android:name="com.alibaba.tcms.service.TCMSService"
            android:exported="true"
            android:process=":TcmsService" />
        <!-- 用于接收从TCMSService发送的命令 -->
        <service
            android:name="com.alibaba.tcms.service.ListenerService"
            android:exported="true" />

        <!-- @消息相关 -->
        <activity
            android:name="com.alibaba.mobileim.ui.atmessage.AtMsgListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Aliwx_ConverationStyle_default" />
        <activity
            android:name="com.alibaba.mobileim.ui.atmessage.SendAtMessageDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Aliwx_ConverationStyle_default" />
        <activity
            android:name="com.alibaba.mobileim.kit.chat.SelectTribeMemberActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Aliwx_ConverationStyle_default"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.alibaba.mobileim.kit.imageviewer.ShowImageActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Aliwx_ContentOverlay_default"
            android:windowSoftInputMode="adjustPan" /> <!-- 漫游密码输入，三方用户不需要这个Activity -->
        <activity
            android:name="com.alibaba.mobileim.kit.CloudPwdSettingHintActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Aliwx_ConverationStyle_default" /> <!-- 交易组件跳转窗口，即点击旺旺水滴跳OpenIM窗口 -->
        <activity android:name="com.alibaba.mobileim.login.WaitProgresssActivity" />
        <activity
            android:name="com.alibaba.mobileim.kit.chat.EnlargeChattingTextActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.alibaba.tcms.service.MonitorActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":TcmsService"
            android:theme="@android:style/Theme.Translucent" />

        <!--baichuan push-->
        <!-- 通道保持服务（幽灵进程自动保活该服务） -->
        <service android:name="com.alibaba.sdk.android.push.ChannelService"
            android:exported="true" android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="taobao" />
            </intent-filter>
        </service>

        <!-- 消息接收服务 -->
        <service android:name="com.alibaba.sdk.android.push.MsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION" />
            </intent-filter>
        </service>

        <!-- 连接心跳保持监听器 -->
        <receiver android:name="anet.channel.heartbeat.HeartbeatManager$Receiver" >
            <intent-filter>
                <action android:name="anetwork.channel.intent.action.COMMAND" />
            </intent-filter>
        </receiver>

        <!--消息接收监听器 （用户可自主扩展）-->
        <receiver android:name="com.jixianxueyuan.receiver.CustomReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.taobao.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel-->

        <!--umeng update-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!--umeng update-->

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="xueyuan"/>
        <meta-data
            android:name="QQ_APP_ID"
            android:value="${QQ_APP_ID}"/>
        <meta-data
            android:name="QQ_APP_KEY"
            android:value="${QQ_APP_KEY}"/>
        <meta-data android:name="com.amap.api.v2.apikey"
                   android:value="${AMAP_KEY}"/>
        <meta-data
            android:name="QBSDKAppKey"
            android:value="pBOXHsNNor9Q/K2xjpVchE8c" />


        <meta-data  android:name="HOBBY" android:value="${HOBBY}"/>

    </application>



</manifest>
